/* Base styles for the color palette */
:root {
  --mint-green: #cffcffff;
  --tiffany-blue: #aaefdfff;
  --thistle: #e8c4e2ff;
  --ultra-violet: #474973ff;
}

.gradient-1 {
  background: linear-gradient(135deg, var(--mint-green), var(--tiffany-blue));
}

.gradient-2 {
  background: linear-gradient(135deg, var(--thistle), var(--mint-green));
}

.gradient-3 {
  background: linear-gradient(135deg, var(--tiffany-blue), var(--ultra-violet));
}

.gradient-4 {
  background: linear-gradient(135deg, var(--thistle), var(--mint-green), var(--tiffany-blue));
}

.gradient-5 {
  background: linear-gradient(135deg, var(--ultra-violet), var(--thistle));
}

.pioret-one {
  font-family: Poiret One, cursive;
}

.noto-sans {
  font-family: 'Noto Sans', sans-serif;
}

.coolors-palette {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.color{
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color p {
  color: #e442bb;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s;
}
.color:hover p {
  opacity: 1;
  visibility: visible;
}


.color-1 {
  background-color: var(--mint-green);
}
.color-2 {
  background-color: var(--tiffany-blue);
}
.color-3 {
  background-color: var(--thistle);
}
.color-4 {
  background-color: var(--ultra-violet);
}

/* Standar */
html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'noto sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--ultra-violet);
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
  text-align: center;
  margin-top: 3rem;
  padding: 3rem 0;
  background: linear-gradient(135deg, var(--mint-green), var(--tiffany-blue));
}

footer p {
  color: var(--ultra-violet);
  font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poiret One, cursive;
  font-weight: 900;
  line-height: 1.2;
  margin: 0 0 2rem 0;
}

h1 {
  font-size: 3.2rem;
  color: var(--mint-green);
}
h2 {
  font-size: 2.4rem;
  color: var(--tiffany-blue);
}
h3 {
  font-size: 2rem;
  color: var(--thistle);
}

p, li {
  font-weight: 400;
  margin: 0 0 2rem 0;
  font-size: 1.6rem;
  color: white;
}

li {
  margin-left: 2rem;
  padding-left: 1rem;
}

a {
  text-decoration: none;
  color: var(--thistle);
  cursor: pointer;;
  transition: color 0.3s ease;
}
a:hover {
  color: var(--mint-green);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
  margin-top: 3rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, var(--mint-green), var(--tiffany-blue));

}

.header-text{
  text-align: left;
  align-self: start;
  margin:  2rem 0;
  padding: 0 2rem;
}

header h1 {
  font-size: 4rem;
  color: var(--ultra-violet);
}
header p {
  color: var(--ultra-violet);
}

.coolors{
  background-color: rgb(165, 160, 160);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 1000px;
}

.coolors h2 {
  color: var(--ultra-violet);
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.typography {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 1000px;
}

.wireframes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 2rem 0;
  padding: 0 2rem;  
  justify-items: center;
  align-items: center;
}

.wireframe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--mint-green);
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.wireframe-container img {
  width: auto;
  max-height: 400px;;
}

.wireframe-container h3 {
  margin: 1rem 0;
}
.wireframe-container p {
  text-align: center;
  font-size: 1.4rem;
  color: var(--ultra-violet);
  margin-top: 2rem;
}
