/* Base styles for the color palette */
:root {
  --color-green: #8dc2a3;
  --color-pink: #f1e5f3;
  --color-blue: #3184a3;
  --ultra-violet: #474973ff;
  --dark-pink: rgb(182, 87, 201);
  --color-black: #3a3b3a;
  --color-white: #e7e7e7;
}





.pioret-one {
  font-family: Poiret One, cursive;
}

.noto-sans {
  font-family: 'Noto Sans', sans-serif;
}

/* Standar */
html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'noto sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
  text-align: center;
  margin-top: 3rem;
  padding: 3rem 0;
  /* background: linear-gradient(135deg, var(--color-green), var(--ultra-violet)); */
}

footer p {
  color: var(--ultra-violet);
  font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poiret One, cursive;
  font-weight: 900;
  line-height: 1.2;
  margin: 0 0 2rem 0;
}

h1 {
  font-size: 3.2rem;
  color: var(--mint-green);
}
h2 {
  font-size: 2.4rem;
  color: var(--tiffany-blue);
}
h3 {
  font-size: 2rem;
  color: var(--thistle);
}

p, li {
  font-weight: 400;
  margin: 0 0 2rem 0;
  font-size: 1.6rem;
  color: white;
}

li {
  margin-left: 2rem;
  padding-left: 1rem;
}

a {
  text-decoration: none;
  color: var(--thistle);
  cursor: pointer;;
  transition: color 0.3s ease;
}
a:hover {
  color: var(--mint-green);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
  margin-top: 3rem;
}


/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
header .logo {
  color: var(--mint-green);
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.nav-list li {
  margin: 0 2rem;
}
.nav-list a {
  display: inline-block;
  color: var(--ultra-violet);
  font-size: 1.6rem;
  font-weight: 700;

  transition: all 0.3s ease;
}
.nav-list a:hover {
  color: var(--dark-pink);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

/* hero */
.hero {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: end;
}

.hero-content {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: brightness(1);
  font-size: 2.5rem;
  padding: 5rem;
}
.hero-content h1 {
  background: linear-gradient(90deg, var(--color-blue), rgb(0, 225, 255) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 0px 1px;
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 2rem;
}
.hero-content p {
  color: var(--thistle);
  font-size: 2rem;
}

.hero-content a {
  background-color: var(--color-green);
  color: var(--ultra-violet);
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 700;
  width: fit-content; 
}
.hero-content a:hover {
  background-color: var(--dark-pink);
  color: var(--color-white);
  transition: all 0.3s ease;
}
.hero-content .hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}
.hero-content .hero-image:hover {
  filter: brightness(0.8);
  transition: all 0.3s ease;
}

/* stats */
#cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 6rem;
}
.card {
  background-color: var(--color-blue);
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem;
  width: calc(33.333% - 2rem);
}
.card:hover {
  color: var(--ultra-violet);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.card h3 {
  color: var(--color-pink);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.card p {
  color: var(--color-white);
  font-size: 1.6rem;
}
.iconify {
  font-size: 4rem;
  color: var(--color-pink);
  margin-bottom: 1rem;
}

/* darkmode toggle */
.dark-mode-toggle {
  display: none; 
}

.dark-mode-label {
  width: 5rem;
  height: 2rem;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.4), 
              inset 0 -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark-mode-label::after {
  content: '';
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 1px;
  background: linear-gradient(135deg, var(--color-green), var(--ultra-violet));
  border-radius: 180px;
  box-shadow: inset 0 -5px 15px rgba(0, 0, 0, 0.4), 
              inset 0 5px 15px rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
}

.dark-mode-toggle:checked + .dark-mode-label {
  background: var(--dark-pink);
}

.dark-mode-toggle:checked + .dark-mode-label::after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

.dark-mode-label:active::after {
  width: 3rem;
}

.visually-hidden {
  visibility: hidden;
}

/* timer */
.timer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding: 2rem;
  background: linear-gradient(135deg, var(--color-green), var(--color-blue));
  border-radius: 10px;
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.circle {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: none;

}

.circle.pulse{
  animation: pulse 4s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    width: 0;
    height: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
  }
  50% {
    width: 60rem;
    height: 60rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  100% {
    width: 0;
    height: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
  }
}

.timer p {
  margin: 1rem 0;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background: var(--color-pink); 
  border-radius: 10%;
  width: 30rem; 
  height: 30rem;
  overflow: hidden; 
  position: relative; 
}
.circle-container .circle {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer-buttons button {
  background: var(--color-green);
  color: var(--color-white);
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.timer-controls{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}